[Unit]
Description=Multi Docker Compose Application Service
After=network.target

[Service]
Type=oneshot
WorkingDirectory=~/homelab-stacks
ExecStart=start-docker-compose.sh

[Install]
WantedBy=default.target